a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #2234ff;
  outline-offset: 3px;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ================ Buttons ================= */

.button {
  padding: 12px 56px;
  border: 2px solid #f13c6e;
  border-radius: 40px;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f13c6e;
  color: #ffffff;
}

.hero__btn {
  padding: 12px 67px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero__btn:hover {
  background-color: #ffffff;
  color: #f13c6e;
}

.cards__btn {
  border: 2px solid #f13c6e;
  padding: 8px 51px;
  border-radius: 30px;
  background-color: #f13c6e;
  color: #ffffff;
  letter-spacing: 0.7px;
  transition: background-color 0.3s ease;
}

.cards__btn:hover {
  background-color: #ffffff;
  color: #f13c6e;
  cursor: pointer;
}

.contact__btn {
  padding: 9px 53px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__btn:hover {
  background-color: #ffffff;
  color: #f13c6e;
}

/* ================ Header ================= */

.header__top {
  padding: 17px 0 16px 0;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-section__list {
  gap: 30px;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__main {
  background-color: #ffffff;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}

.main-section__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-info__phone:hover {
  text-decoration: underline;
}

.bottom-section {
  padding: 30px 0;
  background-color: #ffffff;
}

.bottom-section__list {
  gap: 40px;
}

.bottom-section__list > .nav__item {
  font-size: 16px;
}

/* ================ Hero ================= */

.hero {
  background-image: url('../../assets/images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #ffffff;
  align-items: center;
}

.hero__wrapper {
  min-height: 604px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hero__content {
  max-width: 308px;
}

.hero__title {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 50px;
}

.hero__description {
  color: #ffffff;
  line-height: 20px;
  margin-bottom: 50px;
}

/* ================ Offers ================= */

.offers {
  padding-top: 80px;
}

.heading {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 38px;
}

.cards__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.cards__item {
  background-color: #ffffff;
  padding: 25px 30px;
}

.cards__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cards__heading {
  width: 195px;
  color: #333;
  text-align: center;
  line-height: 140.625%;
}

.cards__price {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 1.05px;
}

/* ================ Contacts ================= */

.contact {
  margin-top: 100px;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.contact-block {
  background-color: #f13c6e;
  padding: 35px 45px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 540px;
  gap: 30px;
  box-sizing: border-box;
}

.contact__left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact__title,
.contact__description {
  color: #ffffff;
  margin: 0;
}

.contact__title {
  font-size: 18px;
  font-weight: 700;
  max-width: 250px;
}

.contact__description {
  max-width: 180px;
}

.contact__input {
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 30px;
  color: #c4c4c4;
  width: 100%;
  box-sizing: border-box;
}

.contact__block--visit-us {
  gap: 30px;
}

/* ================ Clients ================= */

.clients {
  margin-top: 100px;
}

.clients__wrapper {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.clients__item {
  padding: 35px 65px;
  border: 1px solid #efefef;
  padding: 35px;
  text-align: center;
}

.clients__item:nth-child(1n) {
  border-top: 0;
  border-right: 0;
}

.clients__item:nth-child(1),
.clients__item:nth-child(5),
.clients__item:nth-child(9) {
  border-left: 0;
}

.clients__item:nth-child(9),
.clients__item:nth-child(10),
.clients__item:nth-child(11),
.clients__item:nth-child(12) {
  border-bottom-width: 0;
}

.clients__img {
  max-width: 100%;
  height: auto;
}

/* ================ Recently viewed ================= */

.recently-viewed {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* ================ Footer ================= */

.footer {
  background-color: #ffffff;
}

.footer__top {
  border-bottom: 1px solid #efefef;
}

.footer__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.footer__top-column {
  width: 255px;
}

.footer__top-heading {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 140.625%;
  margin-bottom: 30px;
  max-width: 100px;
}

.footer__top-list {
  border-top: 1px solid #efefef;
  padding-top: 25px;
}

.footer__top-item {
  color: #828282;
  font-size: 12px;
  line-height: 28px;
}

.footer__top-link:hover {
  text-decoration: underline;
}

.footer__middle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}

.footer__middle-list {
  display: flex;
  gap: 20px;
}

.footer__bottom {
  background-color: #efefef;
}

.footer__bottom-wrapper {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-text {
  color: #828282;
  font-size: 12px;
}

.footer__bottom-link:hover {
  text-decoration: underline;
}
